extends ../layout.pug
block content
    header.header.header__login
        a(href="/login") #[img(src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/347_Uber_logo-512.png" alt="Logo" height="100px")]
    section#authSection
        div.input__wrapper
            if type === "LOGIN"
                h1.input__title Login
                div.input__form
                    form(action="/login" method="POST")
                        div.input__field
                            label(for="userEmail").input__label Email
                                span Don't have an account? #[a(href="/register") Register now!]
                            input#userEmail.input__auth-box(type="email" name="email" placeholder="example@example.com" required)
                        div.input__field
                            label(for="userPassword").input__label Password
                            input#userPassword.input__auth-box(type="password" name="password" placeholder="********" required)
                        div.input__link
                            button.auth-btn(type="submit") Login
                            p.input__auth-link #[a(href="/forgot_password") Forgot your password?]
            else if type === "REGISTER"
                h1.input__title Register
                div.input__form
                    form(action="/register" method="POST")
                        div.input__field
                            label(for="newUserEmail").input__label Email
                                span Already have an account? #[a(href="/login") Login now!]
                            input#newUserEmail.input__auth-box(type="email" name="email" placeholder="example@example.com" required)
                        div.input__field
                            label(for="newUserPassword").input__label Password
                            input#newUserPassword.input__auth-box(type="password" name="password" placeholder="********" required)
                        div.input__field
                            label(for="newUserRole").input__label Choose your role
                            select#newUserRole(name="role").input__select
                                option(value="DRIVER") Driver
                                option(value="SHIPPER") Shipper
                        div.input__link
                            button.auth-btn(type="submit") Register
                            div.input__auth-link #[a(href="/forgot_password") Forgot your password?]
            else if type === "FORGOT_PASSWORD"
                h1.input__title Reset Password
                div.input__form
                    form(action="/forgot_password" method="POST")
                        div.input__field
                            label(for="resetUserEmail").input__label Email
                                span Already have an account? #[a(href="/login") Login now!]
                            input#resetUserEmail.input__auth-box(type="email" name="email" placeholder="example@example.com" required)
                        div.input__link
                            button.auth-btn(type="submit") Reset Passwords
            include ../components/alert_message.pug
    footer
        include ../components/footer.pug