extends ../layout.pug
block content
    header.header.header__login
        a(href="/login") #[img(src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/347_Uber_logo-512.png" alt="Logo" height="100px")]
    section#badRequestSection
        div.alert-message.alert-message--error #[i.fa.fa-warning] #{error}
    footer
        include ../components/footer.pug