extends ../layout.pug

block content
    section#dashboardSection
        div.dashboard__container
            include ../components/navbar.pug
            div.dashboard__content
                include ../components/alert_message.pug
                if type === "PROFILE"
                    include ../components/profile.pug
                else if type === "LIST"
                    include ../components/list.pug