.input__wrapper {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 100px auto 0;
  line-height: 30px;
}

.input__title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
}

.input__label {
  display: flex;
  justify-content: space-between;
}
.input__label span {
  font-size: 0.75em;
}

.input__field {
  margin-bottom: 20px;
}

.input__select,
.input__auth-box,
.auth-btn {
  width: 100%;
  height: 44px;
  margin: 10px 0;
  padding: 8px 0;
  font-size: 0.75em;
  box-sizing: border-box;
  border: 1px solid #e5e5e4;
  border-radius: 5px;
  outline: 0;
}

.input__auth-box {
  width: 100%;
  background-color: inherit;
  color: #000;
  border-width: 0 0 2px;
  border-radius: 0;
}

.input__auth-box:focus {
  border-color: #0c6c71;
}

.input__select {
  padding: 14px;
  font-weight: bold;
  color: #119299;
  border: 1px solid #119299;
  background-color: #fff;
}

.input__auth-link {
  margin-top: 8px;
  font-size: 0.75em;
}
