.list__card {
  padding: 10px;
}

.new-item__card {
  padding: 50px !important;
}
.dashboard__table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.dashboard__table tr {
  background-color: #f2f2f2;
}

.dashboard__table tr:hover {
  background-color: #ddd;
}

.dashboard__table td,
.dashboard__table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashboard__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0c6c71;
  color: white;
}
.cell-btn {
  background-color: #fff;
  border: 0 !important;
}
.list-btn {
  padding: 0 12px;
}

.update-truck-form {
  display: flex !important;
  width: 100%;
  gap: 10px;
}

.update-truck-input {
  display: flex !important;
  width: 100%;
  gap: 10px;
  margin: 0 0;
}

.update-truck-input {
  flex-basis: 80%;
}

.update-truck-btn {
  flex-basis: 20%;
}

.new-load-form {
  align-self: center;
  width: 50%;
  margin: auto;
}
