.navbar__wrapper {
  position: fixed;
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  background-color: #09091a;
}

.navbar__title {
  text-align: center;
  font-size: 3em;
  letter-spacing: 18px;
  padding: 0 0 12px;
}

.navbar__item {
  text-decoration: none !important;
  color: #cfcfcf !important;
  box-sizing: border-box;
}

.navbar__item:hover {
  color: #2dbad4 !important;
}

.navbar__item_active {
  font-weight: bold;
  color: #2dbad4 !important;
}

.navbar__link {
  display: block;
  outline: 0;
  padding: 24px 18px;

  font-size: 20px !important;
  letter-spacing: 0.5px;
  text-align: start;
  text-decoration: none !important;

  box-sizing: border-box;
  border: solid #272736;
  border-width: 2px 0 0;
}

.navbar__link:hover {
  background-color: #131323;
}

.navbar__link span {
  margin: auto 14px;
}

.navbar__btn {
  width: 100%;
  background-color: #09091a;
}
