.profile__title {
  padding: 30px 0 0;
}

.profile__card {
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding: 50px 10%;
  font-size: 20px;
}

.profile__pic-gradient {
  border: double 10px transparent;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #aaaaaa;
  background-image: linear-gradient(#fff, #fff),
    radial-gradient(circle at top left, #64f082, #0c6c71);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile__pic {
  border-radius: 50%;
}

.profile__info {
  margin: auto 80px;
  padding: 10px;
}

.profile__info-detail {
  margin: 10px auto;
}

.profile__form {
  display: grid;
  gap: 20px;
  align-items: center;
}

.change-password-form {
  grid-template-columns: 1fr 1fr 1fr;
}

.delete-user__card {
  display: block;
}

.card_text {
  margin-bottom: 30px;
}

.delete-user-form {
  display: flex;
  align-items: center;
}
