/* --------------------------------- IMPORT --------------------------------- */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* ------------------------------ END OF IMPORT ----------------------------- */

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: #119299;
  text-decoration: none;
}
a::visited {
  color: #119299;
}

.header {
  position: relative;
  background-size: 60px 60px !important;
  height: 40px;
  padding: 10px;
  margin-bottom: 100px;
  text-align: center;
  box-sizing: border-box;
}

.header__login {
  background: url("https://d1a3f4spazzrp4.cloudfront.net/arch-frontend/1.1.1/d1a3f4spazzrp4.cloudfront.net/1454024011-global_aqua_01_scale_125_144dpi_01-37a1ca0b8b.png")
    center center repeat;
}

.header__register {
  background: url("https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2016/10/24/1477347860-pattern.png")
    center center repeat;
}

.dashboard__content {
  position: relative;
  width: 80%;
  left: 20%;
  background-color: #dcdcdf !important;
}

.dashboard__card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;
  box-sizing: border-box;
}

.auth-btn {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #119299;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.auth-btn:hover {
  background-color: #0c6c71;
}

.important-btn {
  width: 100%;
  height: 44px;
  padding: 0 30px;
  border: 1px solid #e5e5e4;
  border-radius: 5px;
  outline: 0;

  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #d95350;

  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
}

.important-btn:hover {
  background-color: #e60000;
}

.alert-message {
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
}

.alert-message--success {
  color: #270;
  background-color: #dff2bf;
}

.alert-message--error {
  color: #d8000c;
  background-color: #ffbaba;
}
.alert-message--warning {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  color: #d8000c;
  background-color: #ffbaba;
}

.content__wrapper {
  margin: 30px 50px;
}
.footer__container {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
