<!DOCTYPE html> 
html(lang='en')  
  head
    title Ubest
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  style
    include styles/styles.css
    include styles/auth.css
    include styles/navbar.css
    include styles/profile.css
    include styles/list.css
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  body
    div.layout__container
      block content
