div.footer__container
    div.footer__copyright
        p No Copyright
    div.footer__text
        p This is my Homework for EPAM NodeJS Learning
    div.footer__link
        a(href="https://gitlab.com/trongnhan19it/epam-node-hw03") Link to My Repository