div#dashboardList.content__wrapper
    if user.role === "DRIVER"
        if !error
            h2.profile__title TRUCK LIST
            div.list__card.dashboard__card
                table.dashboard__table
                    tr
                        th Type
                        th  Status
                        th Original Driver ID
                        th Assigned Driver ID
                    each item in list
                        tr
                            td.cell-btn
                                form.update-truck-form(action=`/user/trucks/update/${item._id}` method="POST")
                                    input(type="hidden" name="_id" value=item._id)
                                    input.update-truck-input.input__auth-box(type="text" name="type" placeholder=item.type)
                                    button.update-truck-btn.auth-btn(type="submit") #[span.glyphicon.glyphicon-floppy-disk]
                            td= item.status
                            td= item.created_by
                            td= item.assigned_to
                            td.cell-btn
                                form(action=`/user/trucks/assign/${item._id}` method="POST")
                                    input(type="hidden" name="_id" value=item._id)
                                    button.auth-btn(type="submit") #[span.glyphicon.glyphicon-plus]
                            td.cell-btn
                                form(action=`/user/trucks/delete/${item._id}` method="POST")
                                    input(type="hidden" name="_id" value=item._id)
                                    button.auth-btn(type="submit") #[span.glyphicon.glyphicon-trash]
        h2.profile__title CREATE NEW TRUCK
        div.list__card.new-item__card.dashboard__card
            form.update-truck-form(action="/user/trucks" method="POST")
                input.update-truck-input.input__auth-box(type="text" name="type" placeholder="Insert Truck Type example: SPRINTER" required)
                button.update-truck-btn.auth-btn(type="submit") Confirm
    else if user.role === "SHIPPER"
        if !error
            h2.profile__title LOAD LIST
            div.list__card.dashboard__card
                table.dashboard__table
                    tr
                        th Name
                        th Payload
                        th W
                        th L
                        th H
                        th Status
                        th State
                        th Pick Up Address
                        th Delivery Address
                    each item in list
                        tr
                            form.update-load-form(action=`/user/loads/update/${item._id}` method="POST")
                                td #[input.input__auth-box(type="text" name="name" placeholder=item.name)]
                                td #[input.input__auth-box(type="text" name="payload" placeholder=item.payload)]   
                                td #[input.input__auth-box(type="text" name="dimensions.width" placeholder=item.dimensions.width)]
                                td #[input.input__auth-box(type="text" name="dimensions.length" placeholder=item.dimensions.length)]
                                td #[input.input__auth-box(type="text" name="dimensions.height" placeholder=item.dimensions.height)]
                                td #[input.input__auth-box(type="text" name="status" placeholder=item.status)]
                                td #[input.input__auth-box(type="text" name="state" placeholder=item.state)]
                                td #[input.input__auth-box(type="text" name="pickup_address" placeholder=item.pickup_address)]
                                td #[input.input__auth-box(type="text" name="delivery_address" placeholder=item.delivery_address)]
                                td.cell-btn
                                    form(action=`/user/loads/update/${item._id}` method="POST")
                                        input(type="hidden" name="_id" value=item._id)
                                        button.auth-btn.list-btn(type="submit") #[span.glyphicon.glyphicon-floppy-disk]
                            td.cell-btn
                                form(action=`/user/loads/post/${item._id}` method="POST")
                                    input(type="hidden" name="_id" value=item._id)
                                    button.auth-btn.list-btn(type="submit") #[span.glyphicon.glyphicon-send]
                            td.cell-btn
                                form(action=`/user/loads/delete/${item._id}` method="POST")
                                    input(type="hidden" name="_id" value=item._id)
                                    button.auth-btn.list-btn(type="submit") #[span.glyphicon.glyphicon-trash]
        h2.profile__title CREATE NEW LOAD
        div.list__card.new-item__card.dashboard__card
            form.new-load-form(action="/user/loads" method="POST")
                input.new-item-input.input__auth-box(type="text" name="name" placeholder="Name" required)
                input.new-item-input.input__auth-box(type="text" name="pickup_address" placeholder="Pick Up Address" required)
                input.new-item-input.input__auth-box(type="text" name="delivery_address" placeholder="Delivery Address" required)
                input.new-item-input.input__auth-box(type="text" name="payload" placeholder="Payload" required)
                input.new-item-input.input__auth-box(type="text" name="dimensions.width" placeholder="Width" required)
                input.new-item-input.input__auth-box(type="text" name="dimensions.height" placeholder="Height" required)
                input.new-item-input.input__auth-box(type="text" name="dimensions.length" placeholder="Length" required)
                button.new-item-btn.auth-btn(type="submit") Confirm