nav.navbar__wrapper
    if user.role === "DRIVER"
        div
            a.navbar__item(href="/user/profile") #[h1.navbar__title UBEST]
            a.navbar__item.navbar__link(href="/user/profile") #[span.glyphicon.glyphicon-user] PROFILE
            a.navbar__item.navbar__link(href="/user/trucks") #[span.glyphicon.glyphicon-th-list] ALL TRUCKS
            a.navbar__item.navbar__link(href="/user/loads/active") #[span.glyphicon.glyphicon-th-list] ACTIVE LOAD
            form(action="/logout" method="POST")
                input(type="hidden" name="_id" value=user._id)
                button.navbar__item.navbar__btn.navbar__link(type="submit") #[span.glyphicon.glyphicon-log-out]  LOGOUT

    else if user.role === "SHIPPER"
        div
            a.navbar__item(href="/user/profile") #[h1.navbar__title UBEST]
            a.navbar__item.navbar__link(href="/user/profile") #[span.glyphicon.glyphicon-user] PROFILE
            a.navbar__item.navbar__link(href="/user/loads") #[span.glyphicon.glyphicon-th-list] ALL LOADS
            form(action="/logout" method="POST")
                input(type="hidden" name="_id" value=user._id)
                button.navbar__item.navbar__btn.navbar__link(type="submit") #[span.glyphicon.glyphicon-log-out]  LOGOUT