div#dashboardProfile.content__wrapper
    h2.profile__title PROFILE
    div.profile__card.dashboard__card
        div.profile__pic-gradient
            img.profile__pic(src="https://i.stack.imgur.com/34AD2.jpg" alt="Profile Pic")
        div.profile__card_info
            div.profile__info EMAIL #[p#infoEmail.profile__info-detail #{user.email}]
            div.profile__info ROLE #[p#infoRole.profile__info-detail #{user.role}]
            div.profile__info CREATED DATE #[p.profile__info-detail #{user.created_date}]
    h2.profile__title CHANGE YOUR PASSWORD
    div.profile__card.dashboard__card
        form.change-password-form.profile__form(action="/user/profile/password/change" method="POST")
            div.profile__form_field
                label(for="changeOldPassword").profile__form__label Old Password
                input#changeOldPassword.input__auth-box(type="password" name="oldPassword" placeholder="********" required)
            div.profile__form_field
                label(for="changeNewPassword").profile__form__label New Password
                input#changeNewPassword.input__auth-box(type="password" name="newPassword" placeholder="********" required)
            div.profile__form_field
                button.auth-btn(type="submit") Confirm
    h2.profile__title DELETE ACCOUNT
    div.profile__card.delete-user__card.dashboard__card
        div.alert-message--warning #[b Warning], this action can't be undone!
        form.delete-user-form.profile__form(action="/user/profile/delete" method="POST")
            div.profile__form_field
                label(for="deleteUserPassword").profile__form__label Password
                input#deleteUserPassword.input__auth-box(type="password" name="password" placeholder="********" required)
                input(type="hidden" name="_id" value=user._id)
                input(type="hidden" name="user" value=user)
            div.profile__form_field
                button.important-btn(type="submit") Delete